CREATE TABLE [dbo].[elements](
	[element_id] [int] IDENTITY(1,1) NOT NULL,
	[group] [int] NULL,
	[period] [int] NULL,
	[atomic_number] [int] NULL,
	[atomic_mass] [decimal](11, 8) NULL,
	[symbol] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
 CONSTRAINT [PK_elements] PRIMARY KEY CLUSTERED 
(
	[element_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[elements] ON 

INSERT [dbo].[elements] ([element_id], [group], [period], [atomic_number], [atomic_mass], [symbol], [name], [type]) VALUES (441, 1, 1, 1, CAST(1.00794000 AS Decimal(11, 8)), N'H', N'Hydrogen', N'other-nonmetals')
INSERT [dbo].[elements] ([element_id], [group], [period], [atomic_number], [atomic_mass], [symbol], [name], [type]) VALUES (442, 18, 1, 2, CAST(4.00260200 AS Decimal(11, 8)), N'He', N'Helium', N'noble-gasses')
INSERT [dbo].[elements] ([element_id], [group], [period], [atomic_number], [atomic_mass], [symbol], [name], [type]) VALUES (443, 1, 2, 3, CAST(6.94100000 AS Decimal(11, 8)), N'Li', N'Lithium', N'alkali-metals')
GO
SET IDENTITY_INSERT [dbo].[elements] OFF
GO
USE [master]
GO
